<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/global.css">



</head>
<body >

<div id="app" style="height: 100%">
    <el-container style="height: 100%">
        <el-aside width="200px" style="height:100%">
            <el-menu :default-openeds="['1','2']">
                <div style="height: 60px;line-height: 60px;text-align: center; color:#FFFFFF">
                    <i class="el-icon-wallet" style="margin-right: 5px"></i>资金管理系统
                </div>
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>企业群组</template>
                    <el-menu-item-group>
                        <template slot="title">创建或搜索群组</template>
                        <el-menu-item index="1-1" @click="userClear();isCreateFirm=true">创建群组</el-menu-item>
                        <el-menu-item index="1-2" @click="userClear();isFindFirm=true">搜索群组</el-menu-item>
                    </el-menu-item-group>

                    <el-menu-item-group title="我的群组" >
                        <el-menu-item index="1-3" @click="getResponseFirm">我负责的群组</el-menu-item>
                        <el-menu-item index="1-4" @click="getMemberFirm">
                            <template slot="title" >我加入的群组</template>
                        </el-menu-item>
                    </el-menu-item-group>

                </el-submenu>

                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>资金中心</template>

                        <el-menu-item-group>
                            <template slot="title">资金明细</template>
                            <el-menu-item index="2-1" @click="userClear();isMyFund=true;myMoney();">我的资金</el-menu-item>
                            <el-menu-item index="2-2" >我的流水</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group title="资金交易">
                            <el-menu-item index="2-3">发起群收款</el-menu-item>
                        </el-menu-item-group>
                        <el-submenu index="2-4">
                            <template slot="title">支付</template>
                            <el-menu-item index="2-4-1">转账</el-menu-item>
                            <el-menu-item index="2-4-2">群付款</el-menu-item>
                            <el-menu-item index="2-4-3" @click="PayToFirm">充值资金到群组</el-menu-item>

                        </el-submenu>
                    </el-submenu>



                <el-submenu index="3" v-if="false">
                    <template slot="title"><i class="el-icon-setting"></i>导航三</template>
                    <el-menu-item-group>
                        <template slot="title">分组一</template>
                        <el-menu-item index="3-1">选项1</el-menu-item>
                        <el-menu-item index="3-2">选项2</el-menu-item>
                    </el-menu-item-group>
                    <el-menu-item-group title="分组2">
                        <el-menu-item index="3-3">选项3</el-menu-item>
                    </el-menu-item-group>
                    <el-submenu index="3-4" v-if="false">
                        <template slot="title">选项4</template>
                        <el-menu-item index="3-4-1">选项4-1</el-menu-item>
                    </el-submenu>
                </el-submenu>
            </el-menu>
        </el-aside>



        <el-container style="height: 100%" id="main">
            <el-header style="text-align: right; font-size: 12px; border-bottom: 1px solid #cccccc; line-height: 60px" >
                <el-dropdown>
                    <i class="el-icon-arrow-down" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            <span style="text-decoration: none" @click="personInfo" >个人信息</span>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <span style="text-decoration: none" @click="logout" >退出登录</span>
                            </el-dropdown-item>
                        <el-dropdown-item v-if="false">删除</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>{{user.userName}}</span>
            </el-header>

<!--       以下     操作区-->
            <el-main>
<!--                个人信息-->
                <el-card style="width: 600px" v-if="isPersonInfo">
                    <el-form label-width="80px" size="small" >
                        <div style="text-align: center; margin: 10px 0">



                            <el-upload
                                    class="avatar-uploader"
                                    action="http://localhost:8080/QG_war_exploded/file/uploadAvatar"
                                    :show-file-list="false"
                                    :on-success="userHandleAvatarSuccess"
                                    multiple>
                                <img  v-model="userImage" :src="userImage" class="avatar">
<!--                                <el-avatar :size="110"  :src="user.headPhoto" class="avatar"></el-avatar>-->
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </div>

                        <el-form-item label="用户id">
                            <el-input v-model="user.uid" autocomplete="off" disabled></el-input>
                        </el-form-item>
                        <el-form-item label="昵称">
                            <el-input v-model.trim="user.userName" autocomplete="off"></el-input>
                        </el-form-item>


                        <el-form-item label="是否封禁" v-if="user.block">
                            <span > 已封禁 </span>
                        </el-form-item>

                        <el-form-item label="电话">
                            <el-input v-model.trim="user.phone" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="个性签名">
                            <el-input
                                    style="width: 480px"
                                    type="textarea"
                                    autosize
                                    v-model.trim="user.signature">
                            </el-input>
                        </el-form-item>

                    </el-form>

                    <div style="text-align: center">
                        <el-button type="primary" @click="updatePersonInfo">确 定</el-button>
                    </div>
                </el-card>
<!--搜索群组-->
                <el-card class="box-card" v-if="isFindFirm" style="width: 500px;margin-left: 30px;margin-top: 20px">
                    <el-form label-width="80px" size="small" @submit.prevent.native>
                        <el-form-item label="群组名称">
                            <el-input v-model.trim="firm.firmName" placeholder="请输入群组名称"></el-input>
                        </el-form-item>
                        <div style="text-align: center">
                            <el-button type="primary" @click="findFirm" >搜索</el-button>
                        </div>
                    </el-form>

                </el-card>

                <el-card class="box-card" v-if="isFindFirmList" style="margin-left: 80px; margin-right:80px; margin-top: 50px">

                    <el-table
                            :data="selectFirmList"
                            style="width: 100%">
                        <el-table-column label="头像" prop="headPhoto" style="width: 80px;height: 80px" >

                            <template v-slot="scope" style="width: 80px;height: 80px">
                                <img :src="scope.row.headPhoto" v-model="scope.row.headPhoto" class="avatar" style="width: 80px;height: 80px">
                            </template>
                        </el-table-column>

                        <el-table-column
                                prop="fid"
                                label="群组id"
                                >
                        </el-table-column>
                        <el-table-column
                                prop="firmName"
                                label="群组名称"
                                >
                        </el-table-column>
                        <el-table-column
                                prop="introduction"
                                label="群组简介"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="memberNum"
                                label="群组人数"
                        >
                        </el-table-column>
                        <el-table-column label="操作">
                            <template v-slot="scope">
                                <el-button type="text" @click="handleJoin(scope.row)">申请加入</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>

<!--                我负责群组-->
                <el-card class="box-card" v-if="isResponseFirm" style="margin-left: 80px; margin-right:80px; margin-top: 50px">

                    <el-table
                            :data="firmList"
                            style="width: 100%">
                        <el-table-column label="头像" prop="headPhoto" >

                            <template v-slot="scope">
                                <img :src="scope.row.headPhoto" v-model="scope.row.headPhoto" class="avatar" style="width: 80px;height: 80px">
                            </template>

                        </el-table-column>
                        <el-table-column
                                prop="fid"
                                label="群组id"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="firmName"
                                label="群组名称"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="introduction"
                                label="群组简介"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="memberNum"
                                label="群组人数"
                        >
                        </el-table-column>
                        <el-table-column label="操作">
                            <template v-slot="scope">
                                <el-button type="text" @click="responseFirmInfo(scope.row)">企业详情</el-button>
                                <el-button type="text" @click="responseFirmMemberInfo(scope.row)">企业成员</el-button>
                                <el-button type="text" @click="responseFirmMoneyInfo(scope.row)">企业资金明细</el-button>
                                <el-popconfirm title="确认解散?解散后群组资金将转移回您的账户">
                                    <el-button type="text" slot="reference">解散群组</el-button>
                                </el-popconfirm>

                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
                <!--                        企业详情-->
                <el-dialog title="企业详情" :visible.sync="isFirmDetail">

                    <el-form v-model="firm" label-width="80px">

                        <el-form-item label="fid" >
                            <el-input v-model="firm.fid" autocomplete="off" disabled></el-input>
                        </el-form-item>
                        <el-form-item label="名称" >
                            <el-input v-model.trim="firm.firmName" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="简介" >
                            <el-input v-model.trim="firm.introduction" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="现有资金" >
                            {{firm.fund}}
                        </el-form-item>
                        <el-form-item label="人数"  >
                            <el-input v-model="firm.memberNum" autocomplete="off" disabled></el-input>
                        </el-form-item>
                        <el-form-item label="封禁"  v-show="firm.block">
                            <span style="color: red">是</span>
                        </el-form-item>

                        <el-form-item label="是否公开" >
                            <el-select v-model="firm.open" placeholder="请选择活动区域">
                                <el-option label="公开" value="ture"></el-option>
                                <el-option label="不公开" value="false"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="isFirmDetail = false">取 消</el-button>

                        <el-button type="primary" @click="updateFirmInfo">确 定</el-button>
                    </div>
                </el-dialog>

<!--                企业成员-->
                <el-dialog title="企业成员" :visible.sync="isFirmMember">
                    <el-table
                            :data="firmMember"
                            style="width: 100%">
                        <el-table-column label="头像" prop="headPhoto" >

                            <template v-slot="scope">
                                <img :src="scope.row.headPhoto" v-model="scope.row.headPhoto" class="avatar" style="width: 80px;height: 80px">
                            </template>

                        </el-table-column>
                        <el-table-column
                                prop="uid"
                                label="用户id"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="userName"
                                label="用户名称"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="signature"
                                label="签名"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="phone"
                                label="电话"
                        >
                        </el-table-column>
                        <el-table-column label="操作">
                            <template v-slot="scope">
                                <el-button type="text" @click="setCollect(scope.row)">设为可群收款</el-button>
                                <el-button type="text" @click="distribute(scope.row)">分配资金</el-button>
                            </template>
                        </el-table-column>
                    </el-table>


                </el-dialog>
<!--                我加入的群组-->
                <el-card class="box-card" v-if="isJoinFirm" style="margin-left: 80px; margin-right:80px; margin-top: 50px">

                    <el-table
                            :data="memberFirmList"
                            style="width: 100%">
                        <el-table-column label="头像" prop="headPhoto" >

                            <template v-slot="scope">
                                <img :src="scope.row.headPhoto" v-model="scope.row.headPhoto" class="avatar" style="width: 80px;height: 80px">
                            </template>

                        </el-table-column>
                        <el-table-column
                                prop="fid"
                                label="群组id"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="firmName"
                                label="群组名称"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="introduction"
                                label="群组简介"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="memberNum"
                                label="群组人数"
                        >
                        </el-table-column>
                        <el-table-column label="操作">
                            <template v-slot="scope">
<!--                                <el-button type="text" @click="otherMember">企业成员</el-button>-->
                                <el-popconfirm title="确认退出?退出后你将不会带走所分配资金">
                                    <el-button type="text" slot="reference">退出群组</el-button>
                                </el-popconfirm>
                            </template>
                        </el-table-column>

                    </el-table>
                </el-card>
<!--                创建群组-->
                <el-card style="width: 600px" v-if="isCreateFirm">
                    <el-form label-width="80px" size="small" >



                        <el-form-item label="群组名">
                            <el-input v-model.trim="firm.firmName" autocomplete="off"></el-input>
                        </el-form-item>

                        <el-form-item label="群组介绍">
                            <el-input
                                    style="width: 480px"
                                    type="textarea"
                                    autosize
                                    v-model="firm.introduction">
                            </el-input>
                        </el-form-item>

                    </el-form>

                    <div style="text-align: center">
                        <el-button type="primary" @click="createFirm">创建群组</el-button>
                    </div>
                </el-card>

<!--                充值资金到负责群组-->
                <el-card class="box-card" v-if="isPayToFirm" style="margin-left: 80px; margin-right:80px; margin-top: 50px">

                    <el-table
                            :data="firmList"
                            style="width: 100%">
                        <el-table-column label="头像" prop="headPhoto" >

                            <template v-slot="scope">
                                <img :src="scope.row.headPhoto" v-model="scope.row.headPhoto" class="avatar" style="width: 80px;height: 80px">
                            </template>

                        </el-table-column>
                        <el-table-column
                                prop="fid"
                                label="群组id"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="firmName"
                                label="群组名称"
                        >

                        </el-table-column>
                        <el-table-column label="操作">
                            <template v-slot="scope">
                                <el-button type="text" @click="isPayToFirmPop=true;payInfo.aid=scope.row.fid">充值</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
<!--                充值资金支付弹框-->
                <el-dialog title="充值资金(使用个人账户的钱)" :visible.sync="isPayToFirmPop">

                    <el-form v-model="payInfo" label-width="80px">
                        <span style="color: red; font-size: 16px"> 温馨提示,最小充值为1,最大为十万</span>

                        <el-form-item label="交易金额" >
                                <el-input-number v-model.trim="payInfo.money"  :min="1" :max="100000" label="充值金额不能超过十万"></el-input-number>
                        </el-form-item>

                        <el-form-item label="支付密码"  >
                            <el-input v-model.trim="payInfo.pass" autocomplete="off" show-password></el-input>
                        </el-form-item>


                    </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button type="primary" @click="recharge">确 定</el-button>
                        </div>


                </el-dialog>
<!--                我的资金-->
                <el-card class="box-card" v-if="isMyFund" style="width: 500px;margin-left: 30px;margin-top: 20px">
                    <el-form label-width="80px" size="small">
                        <el-form-item label="个人余额">
                            {{user.money}}
                        </el-form-item>

                        <el-table
                                :data="firmFund"
                                style="width: 100%">

                            <el-table-column
                                    prop="fid"
                                    label="群组id"
                            >
                            </el-table-column>

                            <el-table-column label="所分配资金" prop="money" >


                            </el-table-column>
                        </el-table>

                    </el-form>

                </el-card>
            </el-main>

        </el-container>
    </el-container>
</div>

<script>
    new Vue({
        el:"#app",
        //加载用户信息
        mounted(){
            const _this = this;
            axios({
                method:"get",
                url:"http://localhost:8080/QG_war_exploded/user/getUser",
            }).then(resp=>{
                // alert("测试是否两个res不一样:resp.data"+resp.data);
                // alert("测试是否两个res不一样:resp"+resp);
                // alert("测试是否两个res不一样:resp.data.data"+resp.data.data);
                // alert("测试是否两个res不一样:resp.data"+resp.data);
                // alert("测试是否两个res不一样:resp.msg"+resp.msg);
                // alert("测试是否两个res不一样:resp.code"+resp.code);
                if(resp.data.code===200){
                    //装载数据
                    _this.user.uid=resp.data.data.uid;
                    _this.user.userName=resp.data.data.userName;
                    _this.user.block=resp.data.data.block;
                    _this.user.money=resp.data.data.money;
                    _this.user.headPhoto=resp.data.data.headPhoto;
                    _this.user.signature=resp.data.data.signature;
                    _this.user.phone=resp.data.data.phone;
                    //加载头像
                    _this.userImage = _this.user.headPhoto;
                    if(_this.user.block===false) {
                        this.$message({
                            message: '欢迎您，' + _this.user.userName,
                            type: 'success'
                        })
                    }
                    else{
                        alert("您的账号已被封禁,请联系管理员");
                        window.location.href="http://localhost:8080/QG_war_exploded/login.html";
                    }
                }else {
                    this.$message({
                        message: resp.data.msg,
                        type: 'warning'
                    })
                }
            }).catch(err=>{
                alert("您未登录,请先登录");
            })
        },
        data:{
            user:{
                userName:"",
                uid:"",
                phone:"",
                block:"",
                money:"",
                headPhoto:"",
                signature:""
            },
            firm:{
                fid:"",
                firmName:"",
                introduction:"",
                memberNum:"",
                headPhoto:"",
                open:"",
                block:"",
                fund:"",
            },
            //支付信息
            payInfo:{
                pid:"",
                aid:"",
                money:"",
                pass:""
            },
            //群组队列
            responseFirmList:[],
            memberFirmList:[],
            selectFirmList:[],
            //群组成员
            firmMember:[],
            //我的群组资金
            firmFund:[],
            //用户缓存图片
            userImage:"",

            //个人信息表单是否显现
            isPersonInfo:false,
            //创建群组
            isCreateFirm:false,
            //我负责的群组
            isResponseFirm:false,
            //我加入的群组
            isJoinFirm:false,
            //搜索群组
            isFindFirm:false,
            //我的资金
            isMyFund:false,
            //我的资金流水
            isMyDetailAccount:false,
            //群收款
            isGroupCollect:false,
            // 群付款
            isPayGroupCollect:false,
            //转账
            isTransferAccount:false,
            //充值到负责群组
            isPayToFirm:false,
            //充值去群组的支付弹框
            isPayToFirmPop:false,
            //显示搜索群组的列表
            isFindFirmList:false,
            //显示负责群组企业详情
            isFirmDetail:false,
            //显示企业成员
            isFirmMember:false,



        },
        methods:{
            //退出登录
            logout(){
                //发送请求销毁session
                axios({
                    method:"get",
                    url:"http://localhost:8080/QG_war_exploded/user/exit",
                }).then(resp=>{
                    //跳转到登录界面
                    this.$message({
                        message:"退出成功",
                        type:"success"
                    })
                    setTimeout(()=>{
                        window.location.href = "login.html";
                    },400)
                }).catch(err=>{
                    this.$message({
                        message:"服务器或许关闭了",
                        type:"error"
                    })
                })
            },
            //让个人信息表单显现
            personInfo(){
                this.userClear();
                this.isPersonInfo=true;
            },
            //让所有v-show控制的组件都隐藏,为下一个显示作准备,已经把东西写完了
            userClear(){
                this.isPersonInfo=false;
                this.isCreateFirm=false;
                this.isResponseFirm=false;
                this.isJoinFirm=false;
                this.isFindFirm=false;
                this.isMyFund=false;
                this.isMyDetailAccount=false;
                this.isGroupCollect=false;
                this.isPayGroupCollect=false;
                this.isTransferAccount=false;
                this.isPayToFirm=false;
                this.isFindFirmList=false;
            },
            updatePersonInfo(){
              //修改个人信息
                if(this.user.userName===''||this.user.userName.length>20){
                    this.$message({
                        message:"用户名不能为空且不能超过20个字符",
                        type:"error"
                    })
                    return;
                }
                if(this.user.phone.length!==11){
                    this.$message({
                        message:"手机号要求11位数,差"+(11-this.user.phone.length)+"位",
                        type:"error"
                    })
                    return;
                }
                if (this.user.signature.length>255){
                    this.$message({
                        message:"签名不能超过255个字符",
                        type:"error"
                    })
                    return;
                }

                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/user/updatePersonInfo",
                    data: this.user
                })
                    .then(resp=>{
                        if (resp.data.code === 200){
                            this.$message({
                                showClose: true,
                                message: '修改成功',
                                type: 'success'
                            });
                        }else if(resp.data.code === 402){
                            this.$message({
                                showClose: true,
                                message: '昵称已存在',
                                type: 'error'
                            });
                        }
                    }).catch(err=>{

                    this.$message({
                        showClose: true,
                        message: '服务器异常',
                        type: 'error'
                    })
                })

            },
            //搜索群组
            findFirm(){
                if(this.firm.firmName.length===0){
                    this.$message({
                        message: '群组名不能为空',
                        type: 'error'
                    })
                    return;
                }
                if(this.firm.firmName.length>20){
                    this.$message({
                        showClose: true,
                        message: '没有名字这么长的群组',
                        type: 'error'
                    });
                    return;
                }
                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/firm/findFirm",
                    data:this.firm
                }).then(resp=>{
                    //返回的数据渲染到列表上,并让列表可视化
                    this.selectFirmList = resp.data.data;
                    this.isFindFirmList=true;
                })
            },
            //获取我负责群组的数据
            getResponseFirm(){


                axios({
                    method:"get",
                    url:"http://localhost:8080/QG_war_exploded/firm/getResponseFirm",
                }).then(resp=> {
                    // alert(resp.data.code);
                    // alert(resp.data.data);
                    // alert(resp.data.msg);
                    //返回的数据渲染到列表上,并让列表可视化
                    if (resp.data.code === 200) {
                    this.firmList = resp.data.data;
                        this.userClear();
                        setTimeout(() => {
                            this.isResponseFirm = true;
                        }, 10)
                }else if(resp.data.code === 4001){
                        this.$message({
                            message:"你还没有创建过群组哦",
                            type:"warning"
                        })
                    }
                }).catch(err=>{
                    this.$message({
                        message: '服务器可能掉线了',
                        type: 'error'
                    })
                })
            },
            //获取我加入的群组的数据
            getMemberFirm(){

                axios({
                    method:"get",
                    url:"http://localhost:8080/QG_war_exploded/firm/getMemberFirm",
                }).then(resp=>{
                    //返回的数据渲染到列表上,并让列表可视化
                    if(resp.data.code===200){
                    this.memberFirmList = resp.data.data;
                        this.userClear();
                        setTimeout(()=>{
                            this.isJoinFirm=true;
                        },10)
                    }else if(resp.data.code === 4001){
                        this.$message({
                            message:"你还没有加入过群组哦",
                            type:"warning"
                        })
                    }
                }).catch(err=>{
                    this.$message({
                        message: '服务器可能掉线了',
                        type: 'error'
                    })
                })
            },
            //加入群组
            handleJoin(rowfirm){
                this.firm.fid=rowfirm.fid;
                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/firm/joinFirm",
                    data:this.firm
                }).then(resp=>{

                        if(resp.data.code===200){
                            this.$message({
                                message: '申请发送成功',
                                type: 'success'
                            })
                        }else{
                            this.$message({
                                message:"申请发送失败,你已在群组中",
                                type:'error'
                            })
                        }

                })
            },
            //创建群组
            createFirm(){
                if(this.firm.firmName.length===0){
                    this.$message({
                        message: '群组名不能为空',
                        type: 'error'
                    })
                    return;
                }
                if(this.firm.introduction.length===0){
                    this.$message({
                        message: '群组简介不能为空',
                        type: 'error'
                    })
                    return;
                }
                if(this.firm.firmName.length>20){
                    this.$message({
                        message: '群组名过长',
                        type: 'error'
                    })
                    return;
                }
                if(this.firm.introduction.length>255){
                    this.$message({
                        message: '群组介绍过长',
                        type: 'error'
                    })
                    return;
                }

              axios({
                  method:"post",
                  url:"http://localhost:8080/QG_war_exploded/firm/createFirm",
                  data:this.firm
              }).then(resp=>{
                  if(resp.data.code===200){
                      this.$message({
                          message: '创建成功',
                          type: 'success'
                      })
                  }else{
                      this.$message({
                          message: '创建失败,群组已存在',
                          type: 'error'
                      })
                  }
              })
            },

            //上传成功后，显示上传的图片
            userHandleAvatarSuccess(res ,file){
                    // alert("第二次res:"+res.code)
                    // alert("第一次res:"+res.data)
                    // this.user.headPhoto = res.data;
                    // alert("第一次response:"+this.user.headPhoto);
                    this.userImage = URL.createObjectURL(file.raw);
                    this.$message.success({
                        message:"上传成功,请及时点击确定保存头像",

                    })
                    // //这个东西返回多了个blob:
                    // alert("第二次URL.createObjectURL:"+this.user.headPhoto);
                    // this.user.headPhoto = file.url;
                    // alert("第三次file.url:"+this.user.headPhoto);
                    // this.user.headPhoto = URL.createObjectURL(file.raw).substring(5);
                    // alert("第四次URL.createObjectURL:"+this.user.headPhoto);
                    // alert("file.raw="+file.raw)

            },
            //检测到用户被封禁
            handleBan(){
                this.$message({
                    message: '您的账号已被封禁，请联系管理员',
                    type: 'warning'
                })
                window.location.href="login.html"
            },
            //发送创建数组请求
            // createGroup(){
            //     axios({
            //         method:"post",
            //         url:"http://localhost:8080/QG_war_exploded/firm/createFirm",
            //         data:this.firm
            //     }).then(resp=>{
            //
            //             if(resp.data.code===200){
            //                 this.$message({
            //                     message: '发送请求成功,等待管理员审核',
            //                     type: 'success'
            //                 })
            //             }
            //
            //     })
            // },

            //获取负责企业详情
            responseFirmInfo(firm){
                this.firm=firm;
                this.isFirmDetail=true;
            },
            //获取企业成员信息
            responseFirmMemberInfo(firm){
                this.isFirmMember=true;
                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/firm/getFirmMemberInfo",
                    data:firm
                }).then(resp=>{
                    if(resp.data.code===200){
                        this.firmMember=resp.data.data;
                    }else if (resp.data.code===401){
                        this.$message({
                            message: '暂时没有成员捏',
                            type: 'warning'
                        })
                        this.isFirmMember=false;
                    }
                }).catch(err=>{
                    this.$message({
                        message: '服务器可能掉线了',
                        type: 'error'
                    })
                })

            },
            //修改负责企业信息
            updateFirmInfo(){
                if (this.firm.introduction.length===0){
                    this.$message({
                        message:"简介不能为空",
                        type:"error"
                    })
                    return;
                }
                if(this.firm.firmName===''||this.firm.firmName.length>20){
                    this.$message({
                        message:"名称不能为空且不能超过20个字符",
                        type:"error"
                    })
                    return;
                }


                if (this.firm.introduction.length>255){
                    this.$message({
                        message:"简介不能超过255个字符",
                        type:"error"
                    })
                    return;
                }



                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/firm/updateFirmInfo",
                    data:this.firm
                }).then(resp=>{
                    if(resp.data.code===200){
                        this.$message({
                            message: '修改成功',
                            type: 'success'
                        })
                    }else if(resp.data.code===4002){
                        this.$message({
                            message: '群组名已存在',
                            type: 'error'
                        })
                    }
                }).catch(err=>{
                    this.$message({
                        message: '服务器可能掉线了',
                        type: 'error'
                    })
                })
            },
            //获取企业资金明细
            responseFirmMoneyInfo(){
                this.$message({
                    message:"暂未开发",
                    type:"warning"
                })
            },
            //充值资金到负责群组
            PayToFirm(){

              //初始化数据
                axios({
                    method:"get",
                    url:"http://localhost:8080/QG_war_exploded/firm/getResponseFirm",
                }).then(resp=> {

                    if (resp.data.code === 200) {
                        this.firmList = resp.data.data;

                        this.userClear();
                        setTimeout(()=>{
                            this.isPayToFirm = true;
                        },10)

                    }else if(resp.data.code === 4001){
                        this.$message({
                            message:"你还没有创建过群组哦",
                            type:"warning"
                        })
                    }
                }).catch(err=>{
                    this.$message({
                        message: '服务器可能掉线了',
                        type: 'error'
                    })
                })

            },
            //充值
            recharge(){
                //检查余额
                if(this.payInfo.pass.length===0){
                    this.$message({
                        message:"密码不能为空",
                        type:"warning"
                    })
                    return;
                }
                if(this.user.money<this.payInfo.money){
                    this.$message({
                        message:"余额不足",
                        type:"warning"
                    })
                    return;
                }
                if(this.payInfo.money<=0){
                    this.$message({
                        message:"你想干啥?",
                        type:"warning"
                    })
                    return;
                }
                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/user/recharge",
                    data:this.payInfo
                }).then(resp=>{
                    this.refreshMoney();
                    if(resp.data.code === 200){
                        this.$message({
                            message:"充值成功,你充了"+resp.data.data+"元",
                            type:"success"
                        })
                    }else if(resp.data.code === 4003){
                        this.$message({
                            message:"密码错误",
                            type:"error"
                        })
                    }else{
                        this.$message({
                            message:"异常",
                            type:"error"
                        })
                    }
                }).catch(err=>{
                    this.$message({
                        message: '服务器可能掉线了',
                        type: 'error'
                    })
                })


            },
            //我的资金,获取各种资金信息
            myMoney(){
                axios({
                    method:"get",
                    url:"http://localhost:8080/QG_war_exploded/user/getUserMoneyInfo",
                }).then(resp=>{
                    if (resp.data.code === 200){
                        this.firmFund = resp.data.data;
                    }
                }).catch(err=>{
                    this.$message({
                        message: '服务器可能掉线了',
                        type: 'error'
                    })
                })
            },
            //更新个人金额
            refreshMoney(){
                axios({
                    method:"get",
                    url:"http://localhost:8080/QG_war_exploded/user/refreshMoney",
                }).then(resp=>{
                    this.user.money = resp.data.data;
                }).catch(err=>{
                    this.$message({
                        message: '服务器应该掉线了',
                        type: 'error'
                    })
                })
            },
            setCollect(user){
                this.$message({
                    message:"暂未开发",
                    type:"warning"
                })
            },
            distribute(user){
                this.$message({
                    message:"暂未开发",
                    type:"warning"
                })
            },
            otherMember(){

            },
            quit(){

            },
            //上传图片前的验证






        },


    })

</script>



<style>
    .avatar-uploader .el-upload {

        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }

    .el-menu{
        background: #545c64;
        color:#FFFFFF;
        height:100%;
    }
</style>

</body>
</html>