<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/global.css">




</head>
<body >

<div id="app" style="height: 100%">
    <el-container style="height: 100%">
        <el-aside width="200px" style="height:100%">
            <el-menu :default-openeds="['1', '3']">
                <div style="height: 60px;line-height: 60px;text-align: center; color:#FFFFFF">
                    <i class="el-icon-wallet" style="margin-right: 5px"></i>资金管理系统
                </div>
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>企业群组</template>
                    <el-menu-item-group>
                        <template slot="title">创建或搜索群组</template>
                        <el-menu-item index="2-1" @click="userClear();isCreateFirm=true">创建群组</el-menu-item>
                        <el-menu-item index="2-2" @click="userClear();isFindFirm=true">搜索群组</el-menu-item>
                    </el-menu-item-group>

                    <el-menu-item-group title="我的群组" >
                        <el-menu-item index="2-3" @click="getResponseFirm">我负责的群组</el-menu-item>
                        <el-menu-item index="2-4">
                            <template slot="title">我加入的群组</template>
                        </el-menu-item>
                    </el-menu-item-group>

                </el-submenu>

                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>资金中心</template>

                        <el-menu-item-group>
                            <template slot="title">资金明细</template>
                            <el-menu-item index="1-1">我的资金</el-menu-item>
                            <el-menu-item index="1-2">我的流水</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group title="资金交易">
                            <el-menu-item index="1-3">发起群收款</el-menu-item>
                        </el-menu-item-group>
                        <el-submenu index="1-4">
                            <template slot="title">支付</template>
                            <el-menu-item index="1-4-1">转账</el-menu-item>
                            <el-menu-item index="1-4-2">群付款</el-menu-item>
                            <el-menu-item index="1-4-3">充值资金到群组</el-menu-item>

                        </el-submenu>
                    </el-submenu>



                </el-submenu>
                <el-submenu index="3" v-if="false">
                    <template slot="title"><i class="el-icon-setting"></i>导航三</template>
                    <el-menu-item-group>
                        <template slot="title">分组一</template>
                        <el-menu-item index="3-1">选项1</el-menu-item>
                        <el-menu-item index="3-2">选项2</el-menu-item>
                    </el-menu-item-group>
                    <el-menu-item-group title="分组2">
                        <el-menu-item index="3-3">选项3</el-menu-item>
                    </el-menu-item-group>
                    <el-submenu index="3-4" v-if="false">
                        <template slot="title">选项4</template>
                        <el-menu-item index="3-4-1">选项4-1</el-menu-item>
                    </el-submenu>
                </el-submenu>
            </el-menu>
        </el-aside>



        <el-container style="height: 100%" id="main">
            <el-header style="text-align: right; font-size: 12px; border-bottom: 1px solid #cccccc; line-height: 60px" >
                <el-dropdown>
                    <i class="el-icon-arrow-down" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            <span style="text-decoration: none" @click="personInfo" >个人信息</span>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <span style="text-decoration: none" @click="logout" >退出登录</span>
                            </el-dropdown-item>
                        <el-dropdown-item v-if="false">删除</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>{{user.userName}}</span>
            </el-header>

<!--       以下     操作区-->
            <el-main>
<!--                个人信息-->
                <el-card style="width: 600px" v-if="isPersonInfo">
                    <el-form label-width="80px" size="small" >
                        <div style="text-align: center; margin: 10px 0">



                            <el-upload
                                    class="avatar-uploader"
                                    action="http://localhost:8080/war_QG_exploded/file/upload"
                                    :show-file-list="false"
                                    :on-success="handleAvatarSuccess">
                                <el-avatar :size="110"  :src="user.headPhoto" class="avatar"></el-avatar>
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </div>

                        <el-form-item label="用户id">
                            <el-input v-model="user.uid" autocomplete="off" disabled></el-input>
                        </el-form-item>
                        <el-form-item label="昵称">
                            <el-input v-model="user.userName" autocomplete="off"></el-input>
                        </el-form-item>


                        <el-form-item label="是否封禁" v-if="user.block">
                            <span > 已封禁 </span>
                        </el-form-item>

                        <el-form-item label="电话">
                            <el-input v-model="user.phone" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="个性签名">
                            <el-input
                                    style="width: 480px"
                                    type="textarea"
                                    autosize
                                    v-model="user.signature">
                            </el-input>
                        </el-form-item>

                    </el-form>

                    <div style="text-align: center">
                        <el-button type="primary" @click="updatePersonInfo">确 定</el-button>
                    </div>
                </el-card>
<!--搜索群组-->
                <el-card class="box-card" v-if="isFindFirm" style="width: 500px;margin-left: 30px;margin-top: 20px">
                    <el-form label-width="80px" size="small">
                        <el-form-item label="群组名称">
                            <el-input v-model="firm.firmName" placeholder="请输入群组名称"></el-input>
                        </el-form-item>
                        <div style="text-align: center">
                            <el-button type="primary" @click="findFirm" >搜索</el-button>
                        </div>
                    </el-form>

                </el-card>

                <el-card class="box-card" v-if="isFindFirmList" style="margin-left: 80px; margin-right:80px; margin-top: 50px">

                    <el-table
                            :data="firmList"
                            style="width: 100%">
                        <el-table-column
                                prop="headPhoto"
                                label="头像"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="fid"
                                label="群组id"
                                >
                        </el-table-column>
                        <el-table-column
                                prop="firmName"
                                label="群组名称"
                                >
                        </el-table-column>
                        <el-table-column
                                prop="introduction"
                                label="群组简介"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="memberNum"
                                label="群组人数"
                        >
                        </el-table-column>
                        <el-table-column label="操作">
                            <template v-slot="scope">
                                <el-button type="text" @click="handleJoin(scope.row)">申请加入</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>

<!--                我负责的群组-->
                <el-card class="box-card" v-if="isResponseFirm" style="margin-left: 80px; margin-right:80px; margin-top: 50px">

                    <el-table
                            :data="FirmList"
                            style="width: 100%">
                        <el-table-column
                                prop="headPhoto"
                                label="头像"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="fid"
                                label="群组id"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="firmName"
                                label="群组名称"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="introduction"
                                label="群组简介"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="memberNum"
                                label="群组人数"
                        >
                        </el-table-column>
                        <el-table-column label="操作">
                            <template v-slot="scope">
                                <el-button type="text" @click="responseFirmInfo(scope.row.firm)">企业详情</el-button>
                            </template>
                            <template v-slot="scope">
                                <el-button type="text" @click="responseFirmMemberInfo(scope.row.firm)">企业成员</el-button>
                            </template>
                            <template v-slot="scope">
                                <el-button type="text" @click="responseFirmMoneyInfo(scope.row.firm)">企业资金明细</el-button>
                            </template>
                        </el-table-column>

                    </el-table>
                </el-card>

<!--                创建群组-->
                <el-card style="width: 600px" v-if="isCreateFirm">
                    <el-form label-width="80px" size="small" >



                        <el-form-item label="群组名">
                            <el-input v-model="firm.firmName" autocomplete="off"></el-input>
                        </el-form-item>

                        <el-form-item label="群组介绍">
                            <el-input
                                    style="width: 480px"
                                    type="textarea"
                                    autosize
                                    v-model="firm.introduction">
                            </el-input>
                        </el-form-item>

                    </el-form>

                    <div style="text-align: center">
                        <el-button type="primary" @click="createFirm">创建群组</el-button>
                    </div>
                </el-card>
            </el-main>

        </el-container>
    </el-container>
</div>

<script>
    new Vue({
        el:"#app",

        mounted(){
            const _this = this;
            axios({
                method:"get",
                url:"http://localhost:8080/QG_war_exploded/user/getUser",
            }).then(resp=>{
                if(resp.data.code===200){
                    //装载数据
                    _this.user.uid=resp.data.data.uid;
                    _this.user.userName=resp.data.data.userName;
                    _this.user.block=resp.data.data.block;
                    _this.user.money=resp.data.data.money;
                    _this.user.headPhoto=resp.data.data.headPhoto;
                    _this.user.signature=resp.data.data.signature;
                    _this.user.phone=resp.data.data.phone;
                    if(_this.user.block===false) {alert("欢迎来到资金管理系统,"+_this.user.userName);}
                    else{
                        alert("您的账号已被封禁,请联系管理员");
                        window.location.href="http://localhost:8080/QG_war_exploded/login.html";
                    }
                }else{
                    alert("初始化失败")
                }
            }).catch(err=>{
                alert("您未登录,请先登录");
            })
        },
        data:{
            user:{
                userName:"",
                uid:"",
                phone:"",
                block:"",
                money:"",
                headPhoto:"",
                signature:""
            },
            firm:{
                fid:"",
                firmName:"",
                introduction:"",
                memberNum:"",
                headPhoto:"",
                open:"",
                block:"",
                fund:"",
            },
            //群组队列
            firmList:[],
            //群组成员
            firmMember:[],
            //个人信息表单是否显现
            isPersonInfo:false,
            //创建群组
            isCreateFirm:false,
            //我负责的群组
            isResponseFirm:false,
            //我加入的群组
            isJoinFirm:false,
            //搜索群组
            isFindFirm:false,
            //我的资金
            isMyFund:false,
            //我的资金流水
            isMyDetailAccount:false,
            //群收款
            isGroupCollect:false,
            // 群付款
            isPayGroupCollect:false,
            //转账
            isTransferAccount:false,
            //充值到群组
            isPayToFirm:false,
            //显示搜索群组的列表
            isFindFirmList:false,
            //显示负责企业详情
            isFirmDetail:false,
            //显示企业成员
            isFirmMember:false,
        },
        methods:{
            //退出登录
            logout(){
                //发送请求销毁session
                axios({
                    method:"get",
                    url:"http://localhost:8080/QG_war_exploded/user/exit",
                }).then(resp=>{
                    //跳转到登录界面
                    alert("即将退出");
                    window.location.href = "login.html";
                })
            },
            //让表单显现
            personInfo(){
                this.userClear();
                this.isPersonInfo=true;
            },
            //让所有v-show控制的组件都隐藏,为下一个显示作准备,已经把东西写完了
            userClear(){
                this.isPersonInfo=false;
                this.isCreateFirm=false;
                this.isResponseFirm=false;
                this.isJoinFirm=false;
                this.isFindFirm=false;
                this.isMyFund=false;
                this.isMyDetailAccount=false;
                this.isGroupCollect=false;
                this.isPayGroupCollect=false;
                this.isTransferAccount=false;
                this.isPayToFirm=false;
                this.isFindFirmList=false;
            },
            updatePersonInfo(){
              //修改个人信息
                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/user/updatePersonInfo",
                    data: this.user
                })
                    .then(resp=>{
                        if (resp.data.code === 200){
                            this.$message({
                                showClose: true,
                                message: '修改成功',
                                type: 'success'
                            });
                        }else{
                            this.$message({
                                showClose: true,
                                message: '修改失败',
                                type: 'error'
                            });
                        }
                    })

            },
            //搜索群组
            findFirm(){
                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/firm/findFirm",
                    data:this.firm
                }).then(resp=>{
                    //返回的数据渲染到列表上,并让列表可视化
                    this.firmList = resp.data.data;
                    this.isFindFirmList=true;
                })
            },
            //获取我负责群组的数据
            getResponseFirm(){
                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/firm/getResponseFirm",
                }).then(resp=>{
                    //返回的数据渲染到列表上,并让列表可视化
                    this.firmList = resp.data.data;
                    this.isResponseFirm=true;
                })
            },
            handleJoin(rowfirm){
                this.firm.fid=rowfirm.fid;
                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/firm/joinFirm",
                    data:this.firm
                }).then(resp=>{

                        if(resp.data.code===200){
                            this.$message({
                                message: '申请发送成功',
                                type: 'success'
                            })
                        }else{
                            this.$message({
                                message:"申请发送失败,你已在群组中",
                                type:'error'
                            })
                        }

                })
            },
            createFirm(){
              axios({
                  method:"post",
                  url:"http://localhost:8080/QG_war_exploded/firm/createFirm",
                  data:this.firm
              }).then(resp=>{
                  if(resp.data.code===200){
                      this.$message({
                          message: '创建成功',
                          type: 'success'
                      })
                  }else{
                      this.$message({
                          message: '创建失败,群组已存在',
                          type: 'error'
                      })
                  }
              })
            },

            //上传成功后，显示上传的图片
            handleAvatarSuccess(res){
                this.user.headPhoto = res;
            },
            //检测到用户被封禁
            handleBan(){
                this.$message({
                    message: '您的账号已被封禁，请联系管理员',
                    type: 'warning'
                })
                window.location.href="login.html"
            },
            //发送创建数组请求
            createGroup(){
                axios({
                    method:"post",
                    url:"http://localhost:8080/QG_war_exploded/firm/createFirm",
                    data:this.firm
                }).then(resp=>{

                        if(resp.data.code===200){
                            this.$message({
                                message: '发送请求成功,等待管理员审核',
                                type: 'success'
                            })
                        }

                })
            },
            //获取企业详情
            responseFirmInfo(firm){
                this.firm=firm;
                isFirmDetail=true;
            },
            //获取企业成员信息
            responseFirmMemberInfo(firm){
                axios({
                    method:"post",
                    url:"http://localhost/QG_war_exploded/firm/getFirmMemberInfo",
                    data:firm
                }).then(resp=>{
                    this.firmMember=resp.data.data;
                    this.isFirmMember=true;
                })
            },
            //获取企业资金明细
            responseFirmMoneyInfo(){

            },
            //上传图片前的验证
            beforeAvatarUpload(file) {
            },
            //创建群组





        },


    })

</script>



<style>
    .avatar-uploader .el-upload {

        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }

    .el-menu{
        background: #545c64;
        color:#FFFFFF;
        height:100%;
    }
</style>

</body>
</html>