<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="js/vue.js"></script>
  <script src="js/axios-0.18.0.js"></script>
  <script src="element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="css/global.css">




</head>
<body >

<div id="app" style="height: 100%">
  <el-container style="height: 100%">
    <el-aside width="200px" style="height:100%">
      <el-menu :default-openeds="['1', '3']">
        <div style="height: 60px;line-height: 60px;text-align: center; color:#FFFFFF">
          <i class="el-icon-wallet" style="margin-right: 5px"></i>资金管理系统
        </div>
        <el-submenu index="1">
          <template slot="title"><i class="el-icon-message"></i>企业群组</template>
          <el-menu-item-group>
            <template slot="title" v-if="false">分组一</template>
            <el-menu-item index="1-1" @click="isFindFirm=true">搜索群组</el-menu-item>
            <el-menu-item index="1-2" v-if="false">选项2</el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group title="分组2" v-if="false">
            <el-menu-item index="1-3" v-if="false">选项3</el-menu-item>
          </el-menu-item-group>
          <el-submenu index="1-4" v-if="false">
            <template slot="title">选项4</template>
            <el-menu-item index="1-4-1">选项4-1</el-menu-item>
          </el-submenu>
        </el-submenu>
        <el-submenu index="2" v-if="false">
          <template slot="title"><i class="el-icon-menu"></i>资金中心</template>
          <el-menu-item-group>
            <template slot="title">分组一</template>
            <el-menu-item index="2-1">选项1</el-menu-item>
            <el-menu-item index="2-2">选项2</el-menu-item>
          </el-menu-item-group>

          <el-menu-item-group title="分组2" v-if="false">
            <el-menu-item index="2-3">选项3</el-menu-item>
          </el-menu-item-group>
          <el-submenu index="2-4">
            <template slot="title" v-if="false">选项4</template>
            <el-menu-item index="2-4-1">选项4-1</el-menu-item>
          </el-submenu>



        </el-submenu>
        <el-submenu index="3" v-if="false">
          <template slot="title"><i class="el-icon-setting"></i>导航三</template>
          <el-menu-item-group>
            <template slot="title">分组一</template>
            <el-menu-item index="3-1">选项1</el-menu-item>
            <el-menu-item index="3-2">选项2</el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group title="分组2">
            <el-menu-item index="3-3">选项3</el-menu-item>
          </el-menu-item-group>
          <el-submenu index="3-4" v-if="false">
            <template slot="title">选项4</template>
            <el-menu-item index="3-4-1">选项4-1</el-menu-item>
          </el-submenu>
        </el-submenu>
      </el-menu>
    </el-aside>



    <el-container style="height: 100%">
      <el-header style="text-align: right; font-size: 12px; border-bottom: 1px solid #cccccc; line-height: 60px" >
        <el-dropdown>
          <i class="el-icon-arrow-down" style="margin-right: 15px"></i>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item v-if="false">个人信息</el-dropdown-item>
            <el-dropdown-item @click="logout">退出登录</el-dropdown-item>
            <el-dropdown-item v-if="false">删除</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <span>{{username}}</span>
      </el-header>

      <el-main>

        <el-card class="box-card" v-if="isFindFirm" style="width: 500px;margin-left: 30px;margin-top: 20px">
          <el-form label-width="80px" size="small" @submit.prevent.native>
            <el-form-item label="群组名称">
              <el-input v-model="firm.firmName" placeholder="请输入群组名称"></el-input>
            </el-form-item>
            <div style="text-align: center">
              <el-button type="primary" @click="findFirm" >搜索</el-button>
            </div>
          </el-form>

        </el-card>

        <el-card class="box-card" v-if="isFindFirmList" style="margin-left: 80px; margin-right:80px; margin-top: 50px">

          <el-table
                  :data="firmList"
                  style="width: 100%">
            <el-table-column label="头像" prop="headPhoto" style="width: 80px;height: 80px" >

              <template v-slot="scope" style="width: 80px;height: 80px">
                <img :src="scope.row.headPhoto" v-model="scope.row.headPhoto" class="avatar" style="width: 80px;height: 80px">
              </template>
            </el-table-column>
            <el-table-column
                    prop="fid"
                    label="群组id"
            >
            </el-table-column>
            <el-table-column
                    prop="firmName"
                    label="群组名称"
            >
            </el-table-column>
            <el-table-column
                    prop="introduction"
                    label="群组简介"
            >
            </el-table-column>
            <el-table-column
                    prop="memberNum"
                    label="群组人数"
            >
            </el-table-column>
          </el-table>
        </el-card>
      </el-main>


    </el-container>
  </el-container>
</div>

<script>
  new Vue({
    el:"#app",
    data:{
      firm:{
        fid:"",
        firmName:"",
        introduction:"",
        memberNum:"",
        headPhoto:"",
        open:"",
        block:"",
        fund:"",
      },
      isFindFirm:false,
      isFindFirmList:false
    },
    methods:{
      logout(){
        //发送请求销毁session
        // axios({
        //     method:"get",
        //     url:"http://localhost:8080/QG_war_exploded/user/exit",
        // }).then(resp=>{
        //     //跳转到登录界面
        //     alert("即将退出");
        // })
        window.location.href = "login.html";

      },
      findFirm(){
        if(this.firm.firmName.length===0){
          this.$message({
            message: '群组名不能为空',
            type: 'error'
          })
          return;
        }
        if(this.firm.firmName.length>20){
          this.$message({
            showClose: true,
            message: '没有名字这么长的群组',
            type: 'error'
          });
          return;
        }
        axios({
          method:"post",
          url:"http://localhost:8080/QG_war_exploded/firm/findFirm",
          data:this.firm
        }).then(resp=>{
          //返回的数据渲染到列表上,并让列表可视化
          this.firmList = resp.data.data;
          this.isFindFirmList=true;
        })
      },
    }


  })
</script>



<style>
  .el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
  }

  .el-aside {
    color: #333;
  }

  .el-menu{
    background: #545c64;
    color:#FFFFFF;
    height:100%;
  }
</style>

</body>
</html>